@tailwind base;
@tailwind components;
@tailwind utilities;

body{
overflow-x: hidden;
}
@font-face {
    font-family: google;
    src: url(../src/assets/font/Roboto-Medium.ttf);
}
@font-face {
    font-family: txtproject;
    src: url(../src/assets/font/Montserrat-SemiBold.ttf);
}

.stoketxt{
     color: #000;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
}
@keyframes identifier {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-200%);
  }
 
}

.mover2{
  transform: translateX(-1000px);
}
.animate-myanime{
  animation: linear identifier 50s infinite ;
}